<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Episodie</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/hover.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/gh/kenwheeler/slick@1.7.1/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>    
    <nav class="navbar navbar-light bg-faded text-center">
        <a href="@Url.Action("index","home")">
            <img src="~/images/episodie_logo.png" />
            <h2 class="navbar-brand mb-0">Episodie</h2>
        </a>
    </nav>
    <div class="container-fluid body-content">
        <div class="col-xs-12">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
